.AppBar-container {
  display: block;
  position: relative;
  overflow: auto;
}

.AppBar {
  padding: 0;
  height: 52px;
  min-height: 52px;

  font-family: 'citrixsans-bold', sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  font-smoothing: antialiased;

  background: #14568F;
}

.AppBar-nav {
  display: block;
  height: 100%;
}

.AppBar-nav--primary {
  float: left;
}

.AppBar-nav--secondary {
  float: right;
}

.AppBar-link {
  border: none;
  display: inline-block;
  padding: 0 16px;

  color: #E9F2FB;
  font-size: 16px;
  text-transform: none;
  text-decoration: none !important;
  line-height: 52px;

  background: transparent;
  cursor: pointer;
}

.AppBar-link:hover {
  color: #FFF;
  text-decoration: none;
  background: rgba(0,0,0, 0.1);
}

.AppBar-link:focus {
  outline: none;
}

.AppBar-link--active {

}

.AppBar-link-icon {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.AppBar-link--logo {
  float: left;
  height: 52px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.AppBar-logo {
  display: block;
  float: left;
  margin-top: 13px;
  width: 125px;
}
